/* buttons!!! */
.btn {
	background: none;
	border: none;
	border-radius:2px;
	color: $white;
	cursor: pointer;
	display: block;
	margin: 0;
	padding: 15px 36px;
	position: relative;
	font-size:13px;
	font-weight: 500;
	outline: none;
}