.language-js .hll { background-color: #49483e }
.language-js .c { color: #75715e } /* Comment */
.language-js .err { color: #960050; background-color: #1e0010 } /* Error */
.language-js .k { color: #66d9ef } /* Keyword */
.language-js .l { color: #ae81ff } /* Literal */
.language-js .n { color: #f8f8f2 } /* Name */
.language-js .o { color: #f92672 } /* Operator */
.language-js .p { color: #f8f8f2 } /* Punctuation */
.language-js .cm { color: #75715e } /* Comment.Multiline */
.language-js .cp { color: #75715e } /* Comment.Preproc */
.language-js .c1 { color: #75715e } /* Comment.Single */
.language-js .cs { color: #75715e } /* Comment.Special */
.language-js .ge { font-style: italic } /* Generic.Emph */
.language-js .gs { font-weight: bold } /* Generic.Strong */
.language-js .kc { color: #66d9ef } /* Keyword.Constant */
.language-js .kd { color: #66d9ef } /* Keyword.Declaration */
.language-js .kn { color: #f92672 } /* Keyword.Namespace */
.language-js .kp { color: #66d9ef } /* Keyword.Pseudo */
.language-js .kr { color: #66d9ef } /* Keyword.Reserved */
.language-js .kt { color: #66d9ef } /* Keyword.Type */
.language-js .ld { color: #e6db74 } /* Literal.Date */
.language-js .m { color: #ae81ff } /* Literal.Number */
.language-js .s { color: #e6db74 } /* Literal.String */
.language-js .na { color: #a6e22e } /* Name.Attribute */
.language-js .nb { color: #f8f8f2 } /* Name.Builtin */
.language-js .nc { color: #a6e22e } /* Name.Class */
.language-js .no { color: #66d9ef } /* Name.Constant */
.language-js .nd { color: #a6e22e } /* Name.Decorator */
.language-js .ni { color: #f8f8f2 } /* Name.Entity */
.language-js .ne { color: #a6e22e } /* Name.Exception */
.language-js .nf { color: #a6e22e } /* Name.Function */
.language-js .nl { color: #f8f8f2 } /* Name.Label */
.language-js .nn { color: #f8f8f2 } /* Name.Namespace */
.language-js .nx { color: #a6e22e } /* Name.Other */
.language-js .py { color: #f8f8f2 } /* Name.Property */
.language-js .nt { color: #f92672 } /* Name.Tag */
.language-js .nv { color: #f8f8f2 } /* Name.Variable */
.language-js .ow { color: #f92672 } /* Operator.Word */
.language-js .w { color: #f8f8f2 } /* Text.Whitespace */
.language-js .mf { color: #ae81ff } /* Literal.Number.Float */
.language-js .mh { color: #ae81ff } /* Literal.Number.Hex */
.language-js .mi { color: #ae81ff } /* Literal.Number.Integer */
.language-js .mo { color: #ae81ff } /* Literal.Number.Oct */
.language-js .sb { color: #e6db74 } /* Literal.String.Backtick */
.language-js .sc { color: #e6db74 } /* Literal.String.Char */
.language-js .sd { color: #e6db74 } /* Literal.String.Doc */
.language-js .s2 { color: #e6db74 } /* Literal.String.Double */
.language-js .se { color: #ae81ff } /* Literal.String.Escape */
.language-js .sh { color: #e6db74 } /* Literal.String.Heredoc */
.language-js .si { color: #e6db74 } /* Literal.String.Interpol */
.language-js .sx { color: #e6db74 } /* Literal.String.Other */
.language-js .sr { color: #e6db74 } /* Literal.String.Regex */
.language-js .s1 { color: #e6db74 } /* Literal.String.Single */
.language-js .ss { color: #e6db74 } /* Literal.String.Symbol */
.language-js .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.language-js .vc { color: #f8f8f2 } /* Name.Variable.Class */
.language-js .vg { color: #f8f8f2 } /* Name.Variable.Global */
.language-js .vi { color: #f8f8f2 } /* Name.Variable.Instance */
.language-js .il { color: #ae81ff } /* Literal.Number.Integer.Long */

.language-js .gh { } /* Generic Heading & Diff Header */
.language-js .gu { color: #75715e; } /* Generic.Subheading & Diff Unified/Comment? */
.language-js .gd { color: #f92672; } /* Generic.Deleted & Diff Deleted */
.language-js .gi { color: #a6e22e; } /* Generic.Inserted & Diff Inserted */