/* Home Page styling */
.main-posts {
    max-width: 960px;
    width: 100%;
    // display: flex;
    margin: 120px auto 0;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

    h2 {
    	text-align: center;
    	margin: 0 0 40px;
    	width: 100%;
    }
}

.post-item {
	background: $white;
	border: 1px solid rgba(0,0,0,0.1);
	@include br(4px);
	padding:0 0 30px;
	margin:0 1.5% 20px;
	position: relative;
	width: 30%;

	.snippet {
		display: block;
		margin: -1px -1px 0;

		.highlight {
			border-radius: 4px 4px 0 0;
		}
	}

	.recent-title {
		padding: 0 20px 10px;
		display: block;
		font-size: 36px;
		line-height: 41px;

		a {
		    color: $black;
		    display: block;

		    &:hover {
		        color: $grey-medium;
		    }
		}
	}

	.date {
		color: $grey-light;
		display: block;
		width: 100%;
		text-align: right;
		padding: 10px;
		position: absolute;
		bottom: 0;
	}
}