{% include head-dark.html %}

<section class="article">
    <div class="featured-image main-feat">
        <div class="preface">
            <div class="logo"></div>
            <h1>Become The Expert <del>Today</del> <i>Now!</i></h1>
        </div>
    </div>

    <article class="wrap post">
        <ol class="prev-posts">
          <p class="list-title">Recent Posts</p>
          {% for post in site.posts | limit:3 %} <!-- for1 -->
              <li>
                <span class="recent-title"><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title | strip_html | strip_newlines | truncate: 30 }} </a></span>
                <span class="date">{{post.date | date: "%b %d, %Y" }}</span>
                <span class="date">{{post.fnpreview}}</span>
              </li>
          {% endfor %}
        </ol>

    </article>

</section>
</div>

{% include footer.html %}
